<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<style>
    [name="mysite"]
	html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(/static/img/6.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 
</style>
<body>
<h3 align="center"><font color=#00FA9A>Мобильные телефоны, смартфоны</font></h3>
<table>
	<tr>
		<td>
		<align="TOP"><font color=#00FA9A>Philips S307</font></align="TOP">
		<br><img src="/static/img/ph1.png" width="250" height="250">
		<br><font color=#FFA500>Цена 4504 Сом</font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A> ILIFE SM353W</font></align="TOP">
		<br><img src="/static/img/ph2.png" width="250" height="250">
		<br><font color=#FFA500>Цена 4504 Сом</font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>VK800X</font></align="TOP">
		<br><img src="/static/img/ph3.png" width="250" height="250">
		<br><font color=#FFA500>Цена 4542 Сом  </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>BRAVIS A503 JOY Dual Sim</font></align="TOP">
		<br><img src="/static/img/ph4.png" width="250" height="250">
		<br><font color=#FFA500>Цена 5052 Сом  </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
	</tr>
	<tr>
		<td>
		<align="TOP"><font color=#00FA9A> CUBE Nova</font></align="TOP">
		<br><img src="/static/img/ph5.png" width="250" height="250">
		<br><font color=#FFA500>Цена 5908 Сом </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>Asus ZenFone GO</font></align="TOP">
		<br><img src="/static/img/ph7.jpg" width="250" height="250">
		<br><font color=#FFA500>Цена  6230 Сом </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>Meizu M3 Max S685Q LTE 64Gb silver</font></align="TOP">
		<br><img src="/static/img/ph8.png" width="250" height="250">
		<br><font color=#FFA500>Цена 16503 Сом  </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>Lenovo Vibe Z (K910L) </font></align="TOP">
		<br><img src="/static/img/ph9.png" width="250" height="250">
		<br><font color=#FFA500>Цена  14734 Сом</font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
	</tr>
	</table>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<style>
    [name="mysite"]
	html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(/static/img/6.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   }
</style>
<body>
<h3 align="center"><font color=#00FA9A>Мобильные телефоны, смартфоны</font></h3>
<table>
	<tr>
		<td>
		<align="TOP"><font color=#00FA9A>Philips S307</font></align="TOP">
		<br><img src="/static/img/ph1.png" width="250" height="250">
		<br><font color=#FFA500>Цена 4504 Сом</font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A> ILIFE SM353W</font></align="TOP">
		<br><img src="/static/img/ph2.png" width="250" height="250">
		<br><font color=#FFA500>Цена 4504 Сом</font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>VK800X</font></align="TOP">
		<br><img src="/static/img/ph3.png" width="250" height="250">
		<br><font color=#FFA500>Цена 4542 Сом  </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>BRAVIS A503 JOY Dual Sim</font></align="TOP">
		<br><img src="/static/img/ph4.png" width="250" height="250">
		<br><font color=#FFA500>Цена 5052 Сом  </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
	</tr>
	<tr>
		<td>
		<align="TOP"><font color=#00FA9A> CUBE Nova</font></align="TOP">
		<br><img src="/static/img/ph5.png" width="250" height="250">
		<br><font color=#FFA500>Цена 5908 Сом </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>Asus ZenFone GO</font></align="TOP">
		<br><img src="/static/img/ph7.jpg" width="250" height="250">
		<br><font color=#FFA500>Цена  6230 Сом </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>Meizu M3 Max S685Q LTE 64Gb silver</font></align="TOP">
		<br><img src="/static/img/ph8.png" width="250" height="250">
		<br><font color=#FFA500>Цена 16503 Сом  </font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<align="TOP"><font color=#00FA9A>Lenovo Vibe Z (K910L) </font></align="TOP">
		<br><img src="/static/img/ph9.png" width="250" height="250">
		<br><font color=#FFA500>Цена  14734 Сом</font>
		<br><input type="button" value="Купить" onClick=location.href='site6.html'>
		</td>
	</tr>
	</table>
</body>
</html>
