<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
</head>
<style>
    [name="mysite"]
	html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(/static/img/8.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 
</style>
<body>
<h3 align="center"><font color=#9ACD32>Оперативная память</font></h3>
<table>
  <tr>
    <td>
    <align="TOP"><font color=#9ACD32>DDR3 1024MB Samsung PC10600 </font></align="TOP">
    <br><img src="/static/img/op1.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 887 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#9ACD32> DDR3 8192MB MTec PC12800</font></align="TOP">
    <br><img src="/static/img/op2.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 2676 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#9ACD32>DDR3 4096MB Kingston PC14900</font></align="TOP">
    <br><img src="/static/img/op3.png" width="100" height="100">
    <br><font color=#FFA500>Цена 2892 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#9ACD32>DDR3 8192MB MTec PC12800</font></align="TOP">
    <br><img src="/static/img/op4.png" width="100" height="100">
    <br><font color=#FFA500>Цена 2892 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
  </tr>
  <tr>
    <td>
    <align="TOP"><font color=#9ACD32> DDR4 DualPack 2x8192MB A-Data PC24000</font></align="TOP">
    <br><img src="/static/img/op5.png" width="100" height="100">
    <br><font color=#FFA500>Цена 14665 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
  </tr>
  </table>
</body>
</html>

