<!DOCTYPE html>
<html>
<head>
	<title></title>
   <meta charset="utf-8">
</head>
<style>
    [name="mysite"]
	html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(/static/img/7.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   }
</style>
<body>
<h3 align="center"><font color=#DA70D6>Процессоры</font></h3>
<table>
  <tr>
    <td>
    <align="TOP"><font color=#DA70D6> Intel Pentium G4400</font></align="TOP">
    <br><img src="/static/img/pr1.png" width="100" height="100">
    <br><font color=#FFA500>Цена  3601 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>  Intel Celeron Dual Core G3900</font></align="TOP">
    <br><img src="/static/img/pr2.png" width="100" height="100">
    <br><font color=#FFA500>Цена  2322 Сом</font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>Intel Pentium Dual Core G2030</font></align="TOP">
    <br><img src="/static/img/pr3.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 3753 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>Intel Pentium DualCore G4560 </font></align="TOP">
    <br><img src="/static/img/pr4.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена  5906 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>Intel Core Quad Q8300 </font></align="TOP">
    <br><img src="/static/img/pr5.png" width="100" height="100">
    <br><font color=#FFA500>Цена  5906 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6> Intel Core i3-4130</font></align="TOP">
    <br><img src="/static/img/pr6.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 7012 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
  </tr>
  <tr>
     <td>
    <align="TOP"><font color=#DA70D6> Intel Core i3-7100</font></align="TOP">
    <br><img src="/static/img/pr7.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 7242 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6> Intel Core i3-4150</font></align="TOP">
    <br><img src="/static/img/pr8.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 7472 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>ntel Core i3-4170</font></align="TOP">
    <br><img src="/static/img/pr9.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 7889 Сом </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>Intel Core i5-7400</font></align="TOP">
    <br><img src="/static/img/pr10.png" width="100" height="100">
    <br><font color=#FFA500>Цена 11398 Сом</font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>Intel Core i5-6402P</font></align="TOP">
    <br><img src="/static/img/pr11.jpg" width="100" height="100">
    <br><font color=#FFA500>Цена 11398 Сом</font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6> Intel Core i5-6500 Box</font></align="TOP">
    <br><img src="/static/img/pr12.png" width="100" height="100">
    <br><font color=#FFA500>Цена 12957 Сом </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
  </tr>
  <tr>
     <td>
    <align="TOP"><font color=#DA70D6> Intel Core i7-6700 </font></align="TOP">
    <br><img src="/static/img/pr13.png" width="100" height="100">
    <br><font color=#FFA500>Цена 20689 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6> Intel Core i7-7700</font></align="TOP">
    <br><img src="/static/img/pr13.png" width="100" height="100">
    <br><font color=#FFA500>Цена 20760 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td>
    <align="TOP"><font color=#DA70D6>Intel Core i7-5930K</font></align="TOP">
    <br><img src="/static/img/pr14.png" width="100" height="100">
    <br><font color=#FFA500>Цена 46531 Сом </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
  </tr>
  </table>
</body>
</html>
