<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
</head>
<style>
    [name="mysite"]
	html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(/static/img/9.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 
</style>
<body>
<h3 align="center"><font color=#DC143C>Флеш-карты USB (флешки)</font></h3>
<table>
  <tr>
  <td></td>
    <td>
    <align="TOP"><font color=#DC143C>16GB A-Data UV110</font></align="TOP">
    <br><img src="/static/img/fl1.jpg" >
    <br><font color=#FFA500>Цена 385 Сом</font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
    <h3><font color=#DC143C>Технические характеристики</font></h3>
    <br><font color=#DC143C>Модель  UV110</font>
    <br><font color=#DC143C>Цвет в ассортименте</font>
    <br><font color=#DC143C>Интерфейс USB 2.0</font>
    <br><font color=#DC143C>Объём памяти  16 Гб</font>
    <br><font color=#DC143C>Материал корпуса  Пластик</font>
    <br><font color=#DC143C>Тип коннектора Выдвижной</font>
    <br><font color=#DC143C>Размеры (мм) 22x69x9</font>
    <br><font color=#DC143C>Вес (г) 11</font>
    <br><font color=#DC143C>Скорость чтения Мб/с  15</font>
    <br><font color=#DC143C>Скорость записи Мб/с  5</font>
    </td>
  </tr>
  <tr></tr>
   <tr>
  <td></td>
    <td>
    <align="TOP"><font color=#DC143C>16GB A-Data UV100</font></align="TOP">
    <br><img src="/static/img/fl2.jpg" >
    <br><font color=#FFA500>Цена 405 Сом </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
    <h3><font color=#DC143C>Технические характеристики</font></h3>
    <br><font color=#DC143C>Модель  UV100</font>
    <br><font color=#DC143C>Цвет в ассортименте</font>
    <br><font color=#DC143C>Интерфейс USB 2.0</font>
    <br><font color=#DC143C>Объём памяти  16 Гб</font>
    <br><font color=#DC143C>Материал корпуса  Пластик</font>
    <br><font color=#DC143C>Тип коннектора Выдвижной</font>
    <br><font color=#DC143C>Размеры (мм)  41х19х6</font>
    <br><font color=#DC143C>Вес (г) 4</font>
    <br><font color=#DC143C>Скорость чтения Мб/с  10</font>
    <br><font color=#DC143C>Скорость записи Мб/с  5</font>
    </td>
  </tr>
    <tr></tr>
    <tr>
  <td></td>
    <td>
    <align="TOP"><font color=#DC143C>16GB USB 2.0 VERICO VM04L GRAY</font></align="TOP">
    <br><img src="/static/img/fl3.png" >
    <br><font color=#FFA500>Цена 476 Сом  </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
    <h3><font color=#DC143C>Технические характеристики</font></h3>
    <br><font color=#DC143C>Модель  VM04L</font>
    <br><font color=#DC143C>Цвет  Серый</font>
    <br><font color=#DC143C>Интерфейс USB 2.0</font>
    <br><font color=#DC143C>Объём памяти  16 Гб</font>
    <br><font color=#DC143C>Материал корпуса  Пластик</font>
    </td>
  </tr>
    <tr></tr>
     <tr>
  <td></td>
    <td>
    <align="TOP"><font color=#DC143C>16GB Kingston DataTraveler</font></align="TOP">
    <br><img src="/static/img/fl4.png" >
    <br><font color=#FFA500>Цена 509 Сом </font>
    <br><input type="button" value="Купить" onClick=location.href='site6.html'>
    </td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
    <h3><font color=#DC143C>Технические характеристики</font></h3>
    <br><font color=#DC143C>Модель  DTSE9H</font>
    <br><font color=#DC143C>Цвет  Серебристый</font>
    <br><font color=#DC143C>Интерфейс USB 2.0</font>
    <br><font color=#DC143C>Объём памяти  16 Гб</font>
    <br><font color=#DC143C>Материал корпуса  Металл</font>
    <br><font color=#DC143C>Тип коннектора  Моноблок</font>
    <br><font color=#DC143C>Размеры (мм)  39 x 12 x 5</font>
    <br><font color=#DC143C>Вес (г) 15</font>
    <br><font color=#DC143C>Скорость чтения Мб/с  10</font>
    <br><font color=#DC143C>Скорость записи Мб/с  5</font>
    </td>
  </tr>
  </table>
</body>
</html>
