<!DOCTYPE html>
<html>
<head>
	<title>Ноутбуки</title>
	<meta charset="utf-8">
</head>
<style>
	html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url("/static/img/5.jpg"); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 
</style>
<body>
<h3 align="center"><font color=#00FFFF>Ноутбуки</font></h3>
	<table>
		<tr>
			<td>
			<br><img src="/static/img/n1.png" width="250" height="250">
	    </td>
	    <td>
	    	<font color=#00FFFF>Производитель: LENOVO</font>
	    	<br><font color=#00FFFF>Модель: Ideapad 100s</font>
	    	<br><font color=#00FFFF>Тип процессора	Atom Quad Core</font>
	    	<br><font color=#00FFFF>Процессор	Z3775F</font>
	    	<br><font color=#00FFFF>Объем памяти (Gb)	2</font>
	    	<br><font color=#00FFFF>Объем жесткого диска (Gb)	500</font>
	    	<br><font color=#FFFF00>Цена 16194 Сом</font>
	    	<br><input type="button" value="Заказать" onClick=location.href='site6.html'>
	    </td>
	    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    <td><br><img src="/static/img/n2.png" width="250" height="250"></td>
	    <td>
	    	<font color=#00FFFF>Производитель: ASUS</font>
	    	<br><font color=#00FFFF>Модель: X540SA-XX012T</font>
	    	<br><font color=#00FFFF>Тип процессора	Celeron</font>
	    	<br><font color=#00FFFF>Процессор	N3050</font>
	    	<br><font color=#00FFFF>Объем памяти (Gb)	2</font>
	    	<br><font color=#00FFFF>Объем жесткого диска (Gb)	500</font>
	    	<br><font color=#FFFF00>Цена 17931 Сом </font>
	    	<br><font color=#00FFFF></font>
	    	<br><input type="button" value="Заказать" onClick=location.href='site6.html'></td>
		</tr>
		<tr>
			<td>
			<br><img src="/static/img/n3.jpg" width="250" height="250">
	    </td>
	    <td>
	    	<font color=#00FFFF>Производитель: FUJITSU</font>
	    	<br><font color=#00FFFF>Модель: A555</font>
	    	<br><font color=#00FFFF>Тип процессора	Core i3</font>
	    	<br><font color=#00FFFF>Процессор	5005U 2.0GHz</font>
	    	<br><font color=#00FFFF>Объем памяти (Gb)	2</font>
	    	<br><font color=#00FFFF>Объем жесткого диска (Gb)	500</font>
	    	<br><font color=#FFFF00>Цена 23422 Сом</font>
	    	<br><font color=#00FFFF></font>
	    	<br><input type="button" value="Заказать" onClick=location.href='site6.html'>
	    </td>
	    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    <td><br><img src="/static/img/n4.png" width="250" height="250"></td>
	    <td>
	    	<font color=#00FFFF>Производитель: HP</font>
	    	<br><font color=#00FFFF>Модель: x360</font>
	    	<br><font color=#00FFFF>Тип процессора	Celeron</font>
	    	<br><font color=#00FFFF>Процессор	N3060</font>
	    	<br><font color=#00FFFF>Объем памяти (Gb)	4</font>
	    	<br><font color=#00FFFF>Объем жесткого диска (Gb)	500</font>
	    	<br><font color=#FFFF00>Цена 24984 Сом </font>
	    	<br><font color=#00FFFF></font>
	    	<br><input type="button" value="Заказать" onClick=location.href='site6.html'></td>
		</tr>
		<tr>
			<td>
			<br><img src="/static/img/n5.jpg" width="250" height="250">
	    </td>
	    <td>
	    	<font color=#00FFFF>Производитель: DELL</font>
	    	<br><font color=#00FFFF>Модель:Inspiron N3521</font>
	    	<br><font color=#00FFFF>Тип процессора	Core i3</font>
	    	<br><font color=#00FFFF>Процессор	3217U 1.8GHZ</font>
	    	<br><font color=#00FFFF>Объем памяти (Gb)	4</font>
	    	<br><font color=#00FFFF>Объем жесткого диска (Gb)	500</font>
	    	<br><font color=#FFFF00>Цена 25097 Сом</font>
	    	<br><font color=#00FFFF></font>
	    	<br><input type="button" value="Заказать" onClick=location.href='site6.html'>
	    </td>
	    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    <td><br><img src="/static/img/n6.png" width="250" height="250"></td>
	    <td>
	    	<font color=#00FFFF>Производитель: ACER</font>
	    	<br><font color=#00FFFF>Модель: ES1-533-P878</font>
	    	<br><font color=#00FFFF>Тип процессора	Pentium Quad-Core</font>
	    	<br><font color=#00FFFF>Процессор	N4200</font>
	    	<br><font color=#00FFFF>Объем памяти (Gb)	8</font>
	    	<br><font color=#00FFFF>Объем жесткого диска (Gb)	1000</font>
	    	<br><font color=#FFFF00>Цена  30122 Сом</font>
	    	<br><input type="button" value="Заказать" onClick=location.href='site6.html'></td>
		</tr>
	</table>
</body>
</html>
